<router-outlet></router-outlet>


<div class="container-fluid">
<form [formGroup]="registerForm" (ngSubmit)="registerSubmited()" class="border p-3 rounded-3">
    
    <div class="row g-0" >
        <div class="col text-center p-2 mb-3 bg-light">
            <span class="fs-3">Registration form</span>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <label for="fullname" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="fullname" formControlName="fullname">
        
            <div class="form-text text-danger" *ngIf="fullname.errors?.['required'] && (fullname.touched || fullname.dirty)">
                Full name is required.
            </div>
        
            <div class="form-text text-danger" *ngIf="fullname.errors?.['minlength'] && (fullname.touched || fullname.dirty)">
                Full name is too short.
            </div>
        
          
        </div>
        
    </div>
    <div class="row">
        <div class="col mb-3">
            <label for="mo_no" class="form-lable">Mobile Number</label>

           <input type="mo_no" class="form-control" id="mo_no" formControlName="mo_no">
            <div class="form-text text-danger" *ngIf="mo_no.errors?.['required'] && (mo_no.touched || mo_no.dirty)">
                Mobile Number is required.
             </div>
             <div class="form-text text-danger" *ngIf="mo_no.errors?.['pattern'] && (mo_no.touched || mo_no.dirty)">
                Mobile Number is invalid.
             </div>
             <div class="form-text text-danger" *ngIf="mo_no.errors?.['minLength'] && (mo_no.touched || mo_no.dirty)">
                Mobile Number is short.
             </div>
             <div class="form-text text-danger" *ngIf="mo_no.errors?.['maxLength'] && (mo_no.touched || mo_no.dirty)">
                Mobile Number is long.
             </div>

        
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <label for="email" class="form-lable">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email"  [(ngModel)]="email">

            <div class="form-text text-danger" *ngIf="email.errors?.['required'] && (email.touched || email.dirty)">
                Email is required.
            </div>
        
            <div class="form-text text-danger" *ngIf="email.errors?.['pattern'] && (email.touched || email.dirty)">
               Email is invalid.
            </div>
            
            
        </div>
        <div class="d-grid">
            <button type="verify" class="btn btn-primary" (click)="mailesent()">Verify</button>
        </div>
    </div>
    
    <div class="row">
        <div class="col mb-3">
            <label for="username" class="form-lable">User Name</label>
            <input type="username" class="form-control" id="username" formControlName="username">

            <div class="form-text text-danger" *ngIf="username.errors?.['required'] && (username.touched || username.dirty)">
                User Name is required.
             </div>

             <div class="form-text text-danger" *ngIf="username.errors?.['pattern'] && (username.touched || username.dirty)">
                User Name is invalid.
             </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <label for="pass" class="form-lable">Password</label>
            <input type="password" class="form-control" id="pass" formControlName="pass">

            <div class="form-text text-danger" *ngIf="pass.errors?.['required'] && (pass.touched || pass.dirty)">
                Password is required.
             </div>

             <div class="form-text text-danger" *ngIf="pass.errors?.['pattern'] && (pass.touched || pass.dirty)">
                Password is invalid.
             </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="d-grid">
                <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid" >Submit</button>
            </div>
            
           

   
        </div>
    </div>

    
</form>
</div>



<!--<div class="container">
<form [formGroup]="registerForm" (ngSubmit)="registerSubmited()" class="border p-3 rounded-3">
    
    <div class="row g-0" >
        <div class="col text-center p-2 mb-3 bg-light">
            <span class="fs-3">Registration form</span>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <label for="fullname" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="fullname" formControlName="fullname">
        
            <div class="form-text text-danger" *ngIf="fullname.errors?.['required'] && (fullname.touched || fullname.dirty)">
                Full name is required.
            </div>
        
            <div class="form-text text-danger" *ngIf="fullname.errors?.['minlength'] && (fullname.touched || fullname.dirty)">
                Full name is too short.
            </div>
        
          
        </div>
        
    </div>
    <div class="row">
        <div class="col mb-3">
            <label for="email" class="form-lable">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">

            <div class="form-text text-danger" *ngIf="email.errors?.['required'] && (email.touched || email.dirty)">
                Email is required.
            </div>
        
            <div class="form-text text-danger" *ngIf="email.errors?.['pattern'] && (email.touched || email.dirty)">
               Email is invalid.
            </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <label for="mo_no" class="form-lable">Mobile Number</label>

           <input type="mo_no" class="form-control" id="mo_no" formControlName="mo_no">
            <div class="form-text text-danger" *ngIf="mo_no.errors?.['required'] && (mo_no.touched || mo_no.dirty)">
                Mobile Number is required.
             </div>
             <div class="form-text text-danger" *ngIf="mo_no.errors?.['pattern'] && (mo_no.touched || mo_no.dirty)">
                Mobile Number is invalid.
             </div>
             <div class="form-text text-danger" *ngIf="mo_no.errors?.['minLength'] && (mo_no.touched || mo_no.dirty)">
                Mobile Number is short.
             </div>
             <div class="form-text text-danger" *ngIf="mo_no.errors?.['maxLength'] && (mo_no.touched || mo_no.dirty)">
                Mobile Number is long.
             </div>

        
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <label for="username" class="form-lable">User Name</label>
            <input type="username" class="form-control" id="username" formControlName="username">

            <div class="form-text text-danger" *ngIf="username.errors?.['required'] && (username.touched || username.dirty)">
                User Name is required.
             </div>

             <div class="form-text text-danger" *ngIf="username.errors?.['pattern'] && (username.touched || username.dirty)">
                User Name is invalid.
             </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <label for="pass" class="form-lable">Password</label>
            <input type="password" class="form-control" id="pass" formControlName="pass">

            <div class="form-text text-danger" *ngIf="pass.errors?.['required'] && (pass.touched || pass.dirty)">
                Password is required.
             </div>

             <div class="form-text text-danger" *ngIf="pass.errors?.['pattern'] && (pass.touched || pass.dirty)">
                Password is invalid.
             </div>
            
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="d-grid">
                <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Submit</button>
            </div>
            
            <input type="reset" class=" btn btn-primary">

   
        </div>
    </div>

    
</form>
</div>-->


