<!--<footer class=" text-center text-lg-start bg-success">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://www.simplilearn.com/tutorials/html-tutorial/html-tags" class="text-dark">The Best Guide to HTML Tags</a>
          </li>
          <li>
            <a href="https://www.simplilearn.com/tutorials/angular-tutorial/angular-data-binding" class="text-dark">Data Binding</a>
          </li>
          <li>
            <a href="https://www.simplilearn.com/tutorials/angular-tutorial/angular-components" class="text-dark">Component</a>
          </li>
          
        </ul>
      </div>
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Created By: </h5>
        <h6>Shivani Patil</h6>
       
      </div>
      
    </div>
  </div>
</footer>-->

  
