
.custom-bg {
  background-color: rgb(176, 195, 176);
}

.col-md-3{
  margin-top: 10;
}

.blog-title {
  font-size: 3.5rem;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 15px;
 
 
}

nav a {
  text-decoration: none;
  color: black;
 font-size: 18px;
 font-weight: bold;
}

.fs-4{

  color: white;
  font-size: 20px;
 font-weight: bold;
}

