


<nav class="navbar navbar-expand-lg navbar-light bg-success ">
  <div class="container p-4">
    <div class="d-grid ">
       <div class="row">
          <span class="fs-4 ">My Blog </span>
        </div>
      
        <div class="row">
      <div class="w3-bar w3-border ">
      <ul class="navbar-nav">
        <nav>
          <a routerLink="/home" >Home</a>
          <a routerLink="/about" >About</a>
          <a routerLink="/blog" >Blog</a>
          <a routerLink="/contact" >Contact</a>
        </nav>
      </ul>
  </div>
  </div>
</div>
  </div>
</nav>

<div class="container mt-4">

    <div class="row">
      <div class="col-md-9 ">
        <h2 class="blog-post-title">Angular</h2>
        
        <p>Angular is an open-source, JavaScript framework written in TypeScript. Google maintains it, and its primary purpose is to develop single-page applications. As a framework, Angular has clear advantages while also providing a standard structure for developers to work with. It enables users to create large applications in a maintainable manner. 

          Why Do You Need a Framework?</p>
        <hr>
        <p>JavaScript is the most commonly used client-side scripting language. It is written into HTML documents to enable interactions with web pages in many unique ways. As a relatively easy-to-learn language with pervasive support, it is well-suited to develop modern applications. 

          But is JavaScript ideal for developing single-page applications that require modularity, testability, and developer productivity? Perhaps not. 
          
          These days, we have a variety of frameworks and libraries designed to provide alternative solutions. With respect to front-end web development, Angular addresses many, if not all, of the issues developers face when using JavaScript on its own.</p>

          <p>What are the Different Angular Versions: 
            “Angular” is the catch-all term for the various framework versions out there. Angular was developed in 2009, and as a result, there have been many iterations.
            
            First, there was the original Angular, called Angular 1 and eventually known as AngularJS. Then came Angulars 2, 3, 4, 5, until finally, the current version, Angular 11, released on 11/11/2020. Each subsequent Angular version improves on its predecessor, fixing bugs, addressing issues, and accommodating increasing complexity of current platforms.
            
            If you want to design apps better suited for mobile devices, and/or more complex apps, you had best to upgrade to its current version.</p>
            <p>What are the Different Angular Versions: 
              “Angular” is the catch-all term for the various framework versions out there. Angular was developed in 2009, and as a result, there have been many iterations.
              
              First, there was the original Angular, called Angular 1 and eventually known as AngularJS. Then came Angulars 2, 3, 4, 5, until finally, the current version, Angular 11, released on 11/11/2020. Each subsequent Angular version improves on its predecessor, fixing bugs, addressing issues, and accommodating increasing complexity of current platforms.
              
              If you want to design apps better suited for mobile devices, and/or more complex apps, you had best to upgrade to its current version.</p>
          </div>

      <div class="col-md-3">
        <div class="p-4 mb-3 custom-bg">
          <h4 class="fst-italic">Features of Angular</h4>
          <p class="mb-0">TypeScript </p>
          <p class="mb-0">Data Binding </p>
          <p class="mb-0">Testing </p>
          <h4 class="fst-italic">Angular Architecture</h4>
          <p class="mb-0">Modules </p>
          <p class="mb-0">Components </p>
          <p class="mb-0">Templates </p>
        </div>
      </div>
    </div>
 
</div>


<footer class=" text-center text-lg-start bg-success">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled mb-0">
          <li>
            <a href="https://www.simplilearn.com/tutorials/html-tutorial/html-tags" class="text-dark">The Best Guide to HTML Tags</a>
          </li>
          <li>
            <a href="https://www.simplilearn.com/tutorials/angular-tutorial/angular-data-binding" class="text-dark">Data Binding</a>
          </li>
          <li>
            <a href="https://www.simplilearn.com/tutorials/angular-tutorial/angular-components" class="text-dark">Component</a>
          </li>
          
        </ul>
      </div>
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Created By: </h5>
        <h6>Shivani Patil</h6>
       
      </div>
      
    </div>
  </div>
</footer>


  

  



